@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index.scss';
@import  'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700&display=swap';

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(73, 80, 87);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
}
.App {
  height: 100%;
}
.App-chat {
  overflow: hidden;
}
body {
  background: #f5f7fb;
}
.navbarMain {
}

.avatar {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #eee;
}

.avatar-md {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #eee;
}

.avatar_dis {
  font-size: 0.95rem;

  div {
    line-height: 1.1;

    &:last-child {
      font-size: 0.7rem;
    }
  }
}

///backgrounds
.white-bg {
  background: #fff;
}

///margins paddings
.addbottommargin {
  margin-bottom: 1.5rem;
}

//TODO :fix this with scss
.text-header {
  font-size: 3rem;
}

.header-2 {
  font-size: 1.1rem;
}

.subtext {
  font-size: 85%;
}

.card-header {
  background: #fff;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 20px;
}

////shadows
.circleShadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.cardshadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

///colors
.icongrey {
  color: #9aa0ac;
  path {
    color: #9aa0ac;
  }
}
//border-radious
.formborderradius {
  border-radius: 3px;
}
.background-grey {
  background: #eee;
}
///dropdown menu
.dropdown-menu {
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  margin-top: 10px;
  &:before {
    position: absolute;
    left: 6px;
    top: -6px;
    display: inline-block;
    height: 10px;
    width: 7px;
    background: white;
    transform: rotate(45deg);
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4dad9;
    content: '';
  }
}
